:root {
  --primary: #164c3a;
  --secondary: #1F5A46;
  --soft-green: #316950;
  --hover-focus: #217259;
  --white: #ffffff;
}

.video_page {
  display: flex;
  padding: 1% 3%;
  gap: 1%;
}

.flex {
  display: flex;
}

.channel_content{
  flex: 2.5;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

aside {
  flex: 1;
}

.video_info {
  justify-content: space-between;
  align-items: center;
  margin: 1% 0;
}

.video frame {
  width: 100%;
}

h2{
  margin: 2% 0;
}

.video_info button {
  background-color: var(--soft-green);
  padding: 1% 4%;
  border-radius: 10%;
}

.avatar img {
  height: 5vh;
  border-radius: 50%;
}

.channel {
  width: 40%;
  gap: 10px;
  align-items: center;
}

.actions {
  width: 60%;
  justify-content: space-between;
  gap: 2%;
}

.actions p{
  color: white;
  font-size: 15px;
}

.video_more_info {
  margin: 2% 0;
  width: 100%;
}

.paragraph {
  margin: 1% 0;
}

.comments_header {
  margin: 2% 0;
  font-size: 110%;
  gap: 3%;
}

.user_comment_section {
  width: 100%;
  display: flex;
  gap: 2%;
  margin: 2% 0;
}

.viewer_comment {
  flex-grow: 1;
}

.video_comments form {
  width: 100%;
  border: 2px solid var(--soft-green);
  padding: 5px;
}

.video_comments form input {
  background-color: transparent;
  color: #ffffff;
  outline: none;
  width: 100%;
  border: none;
  padding: 1% 2%;
}

.comment_buttons {
  margin-top: 1%;
  justify-content: space-between;
}

.comment_action_buttons{
  width: 30%;
  justify-content: space-evenly;
  gap: 10%;
}

.comment_action_buttons button{
  /* padding: 4% 8%; */
  color: #ffffff;
}

.user_comments_section {
  align-items: start;
  gap: 1%;
}

.comment_avatar img {
  height: 5vh;
  border-radius: 50%;
}

.viewer_comment p{
  margin: .5% 0;
}

.comment_buttons{
  gap: 2%;
}

.comment_buttons button{
  color: #ffffff;
  gap: 10%;
  align-items: center;
  padding: 0 2%;
}

.comment_action_buttons button{
  background-color: var(--soft-green);
  padding: 4% 6%;
}

.comments_button{
  margin: 1%;
  gap: 2%;
}

.comments_button button{
  color: #fff;
  gap: 10%;
}

.view_replies_btn {
  margin: 1%;
  color: #fff;
  font-size: 100%;
  background-color: rgba(245, 245, 245, 0.222);
  padding: .5% 2%;
  border-radius: 20%;
}

/* Categories bar */
.categories_bar{
  gap: 1.5%;
}

/* Sidebar */
.related_videos img{
  width: 50%;
  height: max-content;
  border-radius: 5%;
}

.related_videos a{
  gap: 1%;
  margin: 2% 0;
}

.related_video_info {
  flex-direction: column;
  justify-content: space-evenly;
}

.related_video_mini_info {
  gap: 2%;
}